<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="aldora.springframework.springpetclinic.model.Vet"*/-->
<h1 th:text="'List of vets'">Index Page</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialities</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.firstName + ' ' + vet.lastName}">name</td>
        <td>
            <span th:each="specialty : ${vet.getSpecialities()}" th:text="${specialty.description}" />
            <span th:if="${vet?.getSpecialities()?.size() == 0}" >none</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>